<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Perform login</title>
        <style type="text/css">
    	body {background-color: white; margin: 20px;}
    	body, tr, td {font-family: Verdana, Helvetica, sans-serif; color: #456974;}
    	div#pagecontainer {width: 80%;}
    	h1, h2, h3, h4 {color: #76c2bc; border-bottom: 1px solid #76c2bc;}
    	.monospace {font-family: monospace;}
    	legend {font-weight: bold;}
    	fieldset {margin-top: 10px; margin-bottom: 10px;}
    	span.emphasis {font-weight: bold;}
    </style>
  </head>
  <body>
	<form method="POST" action="$action" id="form" name="loginform">
			#foreach ($e in $attributes.entrySet())
					<input type="hidden" name="$e.key" value="$e.value" />
			#end
		
		<input type="submit" value="Initiate Signon" />
	</form>
	
	<script type="text/javascript">
		document.getElementById("form").submit();
	</script>
  </body>
</html>