<?xml version="1.0" encoding="utf-8" ?>
<!--
   Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<configuration>
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=0.5.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name ="OIOSamlSTSBehaviour">
          <!-- 
          The serviceMetadata behavior allows one to enable metadata (e.g. WSDL, Policy) publishing.
          This configuration enables publishing of such data over HTTP GET.
          -->
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="Microsoft.IdentityModel.Protocols.WSTrust.WSTrustServiceContract" behaviorConfiguration ="OIOSamlSTSBehaviour" >
        <!-- 
        This is the HTTP endpoint that supports clients requesing tokens. This endpoint uses the default 
        standard ws2007HttpBinding which requires that clients authenticate using their Windows credentials.
        -->
        <!-- 
        This is the HTTPS endpoint that supports IMetadataExchange.
        -->
        
      </service>
    </services>

  </system.serviceModel>



  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="ActivityTracing" >
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="trace">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\logs\OIOSaml.STS.tracelog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="trace">
        <filter type="" />
      </add>
      <add initializeData="C:\logs\message.tracelog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="System.Diagnostics.DefaultTraceListener">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true"  />
  </system.diagnostics>
  <microsoft.identityModel>
    <issuerNameRegistry type="TrustedIssuerNameRegistry, OIOSaml.STS, Version=1.0.0.0, Culture=neutral" />
  </microsoft.identityModel>
</configuration>
