<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WPFClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WPFClient.Properties.Settings>
            <setting name="LocalSTSUrl" serializeAs="String">
                <value>http://localhost:8080/sts/TokenService</value>
            </setting>
            <setting name="STSUrl" serializeAs="String">
                <value>http://localhost:8080/sts/TokenService</value>
            </setting>
            <setting name="WSUrl" serializeAs="String">
                <value>http://csky-pc/test/Service1.svc</value>
            </setting>
        </WPFClient.Properties.Settings>
    </applicationSettings>
</configuration>